{% extends 'base.html' %}
{% block content %}

<body class="bg-about">
<div class="container ">
    <div class="row">
        <h1 class="text-center"> About Us </h1>
        <hr>
        <div class="col">
            <p class="about">
                        The 'Online Parking Services' has been devloped to manage the information of avialiable parling 
                        slots,parking time.
                        Here the customers can avoid the heavy traffic in the parking space.Also 
                        the customers can make their parking
                        time for cleaning of their vehicle if they needed.The customers with 
                        electric vehicle can convert the parking time into a productive time by charging their vehicle

                    </p>
            <p class="about">
                Additional payment is collected if the customer need to clean their vehicles manually.
                The parking time can be selected by the customers using this application.The electric vehicle owners will be able to park their 
                vehicles in specific slots so that they can convert their parking time into charging time
            </p>
           
                    


                </div>
            </div>
        </div>
    </div>
</div><br>
{% endblock content %}