{% extends 'base.html' %}
{% block content %}
<body class="bg-booking">
<section><br>
    <div class="container">
    <div class="card-group">
        <div class="card bg-slot">
         
          <div class="card-body text-center">
            <h5 class="card-title">Take your Slot!</h5>
            <button class="btn btn-danger slot">Slot no:1</button>
            
            <p class="card-text"><small>Last updated 3 mins ago</small></p><span class="badge p-2 text-bg-success">Electric vehicles</span>

            
          </div>
        </div>&nbsp;
        <div class="card bg-slot">
         
          <div class="card-body text-center">
            <h5 class="card-title">Take your Slot!</h5>
            <button class="btn btn-danger slot">Slot no:2</button>
            
            <p class="card-text"><small>Last updated 3 mins ago</small></p><span class="badge p-2 text-bg-success">Electric vehicles</span>
          </div>
        </div>&nbsp;
        <div class="card bg-slot">
         
          <div class="card-body text-center">
            <h5 class="card-title">Take your Slot!</h5>
            <button class="btn btn-danger slot">Slot no:3</button>
            
            <p class="card-text"><small>Last updated 3 mins ago</small></p><span class="badge p-2 text-bg-success">Electric vehicles</span>
          </div>
        </div>
      </div><br>

      <div class="card-group">
        <div class="card bg-slot">
         
          <div class="card-body text-center">
            <h5 class="card-title">Take your Slot!</h5>
            <button class="btn btn-danger slot">Slot no:4</button>
            
            <p class="card-text"><small>Last updated 3 mins ago</small></p><span class="badge p-2 text-bg-info">Normal Car</span>
          </div>
        </div>&nbsp;
        <div class="card bg-slot">
         
          <div class="card-body text-center">
            <h5 class="card-title">Take your Slot!</h5>
            <button class="btn btn-danger slot">Slot no:5</button>
            
            <p class="card-text"><small>Last updated 3 mins ago</small></p><span class="badge p-2 text-bg-info">Normal Car</span>
          </div>
        </div>&nbsp;
        <div class="card bg-slot">
         
          <div class="card-body text-center">
            <h5 class="card-title">Take your Slot!</h5>
            <button class="btn btn-danger slot">Slot no:6</button>
            
            <p class="card-text"><small>Last updated 3 mins ago</small></p><span class="badge p-2 text-bg-info">Normal Car</span>
          </div>
        </div>
      </div><br>
      
      <div class="card-group">
        <div class="card bg-slot ">
         
          <div class="card-body text-center">
            <h5 class="card-title">Take your Slot!</h5>
            <button class="btn btn-danger slot">Slot no:7</button>
         
            <p class="card-text"><small>Last updated 3 mins ago</small></p><span class="badge p-2 text-bg-primary">Two Wheelers</span>
          </div>
        </div>&nbsp;
        <div class="card bg-slot">
         
          <div class="card-body text-center">
            <h5 class="card-title">Take your Slot!</h5>
            <button class="btn btn-danger slot">Slot no:8</button>
            
            <p class="card-text"><small>Last updated 3 mins ago</small></p><span class="badge p-2 text-bg-primary">Two Wheelers</span>
          </div>
        </div>&nbsp;
        <div class="card bg-slot">
         
          <div class="card-body text-center">
            <h5 class="card-title">Take your Slot!</h5>
            <button class="btn btn-danger slot">Slot no:9</button>
            <p class="card-text"><small>Last updated 3 mins ago</small></p><span class="badge p-2 text-bg-info">Normal Car</span>
          </div>
        </div>
      </div>
      <br>
      <div class="card-group">
        <div class="card bg-slot">
         
          <div class="card-body text-center">
            <h5 class="card-title">Take your Slot!</h5>
            <button class="btn btn-danger slot">Slot no:10</button>
         
            <p class="card-text"><small>Last updated 3 mins ago</small></p><span class="badge p-2 text-bg-info">Normal Car</span>
          </div>
        </div>&nbsp;
        <div class="card bg-slot">
         
          <div class="card-body text-center">
            <h5 class="card-title">Take your Slot!</h5>
            <button class="btn btn-danger slot">Slot no:11</button>
            
            <p class="card-text"><small>Last updated 3 mins ago</small></p><span class="badge p-2 text-bg-info">Normal Car</span>
          </div>
        </div>&nbsp;
        <div class="card bg-slot">
         
          <div class="card-body text-center">
            <h5 class="card-title">Take your Slot!</h5>
            <button class="btn btn-danger slot">Slot no:12</button>
            <p class="card-text"><small>Last updated 3 mins ago</small></p><span class="badge p-2 text-bg-info">Normal Car</span>
          </div>
        </div>
      </div>
      </div>
</section>
</body>
{% endblock content %}
