{% extends 'base.html' %} {% block content %}

<section class="hero-section">
  <div
    id="carouselExampleControls"
    class="carousel slide h-100"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner h-100">
      <div class="carousel-item active h-100">
        <img src="media/default/img_3.jpg" class="d-block w-100 h-100" alt="" />
      </div>
      <div class="carousel-item h-100">
        <img src="media/default/img_2.jpg" class="d-block w-100 h-100" alt="" />
      </div>
      <div class="carousel-item h-100">
        <img src="media/default/img_1.jpg" class="d-block w-100 h-100" alt="" />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
<body class="bg-home">
<section class="vh-100">
  <div class="container h-100 py-2">
    <div class="row">
      
        <div >
          <div >
            <h5 class="space4u text-center">SPACE 4 U</h5>
            <p class="text-center">
              Stay home and shop online you're too pretty to have to look for a parking spot!
            </p>
          </div>
        </div>
        
        <div>
          <button class="font btns text-center"> Book Tickets </button>
        </div><br>
        <div>
          <p class="h1 recomnd">  
            Recommended places
          </p>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card h-100">
              <img src="media/default/img_stadium.jpg" class="card-img-top" height="200px" alt="">
              <div class="card-body bg-cardhome">
                <h5 class="card-title"><strong>Kaloor stadium</strong></h5>
                <p class="card-text">Location : Edappally,Ernakulam</p>
                <p class="card-text"><i>Hey!Ensure your tickets now</i></p>
                <button class="btn btn-primary">Book Tickets</button>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="media/default/img_csm2.jpg" class="card-img-top" height="200px" alt="">
              <div class="card-body bg-cardhome">
                <h5 class="card-title"><strong>Center Square Mall</strong> </h5>
                <p class="card-text">Location : Maharajas,Ernakulam</p>
                <p class="card-text"><i>Hey!Ensure your tickets now</i></p>
                <button class="btn btn-primary">Book Tickets</button>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="media/default/img_oberon.jpg" class="card-img-top" height="200px" alt="">
              <div class="card-body  bg-cardhome">
                <h5 class="card-title"><strong>Oberon Mall</strong> </h5>
                <p class="card-text">Location : Edappally,Ernakulam</p>
                <p class="card-text"><i>Hey!Ensure your tickets now</i></p>
                <button class="btn btn-primary">Book Tickets</button>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="media/default/img_lulu2.jpg" class="card-img-top" height="200px" alt="">
              <div class="card-body  bg-cardhome">
                <h5 class="card-title"><strong> Lulu Mall</strong> </h5>
                <p class="card-text">Location : Edappally,Ernakulam </p>
                <p class="card-text"><i>Hey!Ensure your tickets now</i></p>
                <button class="btn btn-primary">Book Tickets</button>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="media/default/img_marine1.jpg" class="card-img-top" height="200px" alt="">
              <div class="card-body  bg-cardhome">
                <h5 class="card-title"><strong>Marine Drive</strong> </h5>
                <p class="card-text">Location : Maharajas,Ernakulam </p>
                <p class="card-text"><i>Hey!Ensure your tickets now</i></p>
                <button class="btn btn-primary">Book Tickets</button>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="media/default/img_park1.jpg" class="card-img-top" height="200px" alt="">
              <div class="card-body bg-cardhome">
                <h5 class="card-title"><strong>Subash Park</strong> </h5>
                <p class="card-text">Location : Maharajas,Ernakulam </p>
                <p class="card-text"><i>Hey!Ensure your tickets now</i></p>
                <button class="btn btn-primary">Book Tickets</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
</section>
</body><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

{% endblock content%}