{% extends 'base.html' %} {% block content %}
<section class="hero-section " >
  <div
    id="carouselExampleControls"
    class="carousel slide h-100"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner h-100">
      <div class="carousel-item active h-100">
        <img src="media/default/img_3.jpg" class="d-block w-100 h-100" alt="" />
      </div>
      <div class="carousel-item h-100">
        <img src="media/default/img_2.jpg" class="d-block w-100 h-100" alt="" />
      </div>
      <div class="carousel-item h-100">
        <img src="media/default/img_1.jpg" class="d-block w-100 h-100" alt="" />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<section class="bg-home" >
  <div class="container py-2">
    <div class="row">
        <div>
          <div >
            <h5 class="space4u text-center">SPACE 4 U</h5>
            <p class="text-center">
              Stay home and shop online you're too pretty to have to look for a parking spot!
            </p>
          </div>
        </div>
        
        <div>
          <a href="{% url 'core:location_list' %}"><button class="font btns text-center"> Book Tickets </button></a>
        </div><br>
        <div>
          <p class="h1 recomnd">  
            Recommended places
          </p>
        </div>
      </section>

        <section>
          <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for destination in destinations %}
         
            <a href="{% url 'core:booking_create' destination.id %}" class="underline">
              <div class="card" style="height: 450px;">
                {% for image in destination.image.all %}
                  <img src="{{image.file.url}}" class="card-img-top" height="200px" alt="">
                  {% endfor %}
                <div class="card-body bg-cardhome">
                  
                  <h5 class="card-title destination"><strong>{{destination.name}}</strong></h5>
                  <p class="card-text text"><i>{{destination.description}}</i></p>
                  <p class="card-text destination">Location : {{destination.location.name}}</p>
                  <p class="destination"><i>Hey!Ensure your tickets now</i></p>
                </div>
               
              </div></a>
            
            {% empty %}
            <div class="col">
              <p>no destinations!</p>
            </div>
            {% endfor %}
          </div>
        </section>
      
      
      

{% endblock content %}