{% extends 'base.html' %}
{% block content %}

<body class="bg-location">  
<div class="container">
    <div class="row">
        <table>
            <tbody>
                <tr>
                    <td><strong class="location"><h1>Location</h1></strong></td>                    
                    <td> <form class="d-flex" role="search">
                        <input
                          class="form-control ms-5 me-2"
                          type="search"
                          placeholder="Search your city..."
                          aria-label="Search"
                        />
                        <button class="btn btn-outline-success" type="submit">Search</button>
                      </form></td>
                </tr>
            </tbody>
        </table>
        <div class="col">
            <p><h1 class="cities">Popular Cities</h1></p>

            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100">
                    
                    <div class="card-body cs">
                      <h3 class="card-title text-center titles">KOCHI</h3>
                      <p class="card-text text-center ensure">Come.. Ensure your Space!</p>
                      
                    </div>
                    <button class="btn btn-primary btn-select">SELECT</button>
                  </div>
                </div>

                <div class="col">
                  <div class="card h-100">
                   
                    <div class="card-body cs">
                      <h3 class="card-title text-center titles">CHENNAI</h3>
                      <p class="card-text text-center ensure ">Come.. Ensure your Space!</p>
                    </div>
                    <button class="btn  btn-primary btn-select">SELECT</button>
                  </div>
                </div>

                <div class="col">
                  <div class="card h-100">
                   
                    <div class="card-body cs">
                      <h3 class="card-title text-center titles">KOLKATA</h3>
                      <p class="card-text text-center  ensure  ">Come.. Ensure your Space!</p>
                    </div>
                    <button class="btn btn-primary btn-select">SELECT</button>
                  </div>
                </div>

                <div class="col">
                  <div class="card h-100">
                    
                    <div class="card-body cs">
                      <h3 class="card-title text-center titles">MUMBAI</h3>
                      <p class="card-text text-center  ensure ">Come.. Ensure your Space!</p>
                    </div>
                    <button class="btn btn-primary btn-select">SELECT</button>
                  </div>
                </div>

                <div class="col">
                    <div class="card h-100">
                      
                      <div class="card-body cs">
                        <h3 class="card-title text-center titles">PUNE</h3>
                        <p class="card-text text-center  ensure ">Come.. Ensure your Space!</p>
                      </div>
                      <button class="btn btn-primary btn-select">SELECT</button>
                    </div>
                  </div>

                  <div class="col">
                    <div class="card h-100">
                      
                      <div class="card-body cs">
                        <h3 class="card-title text-center titles">TRIVANDRUM</h3>
                        <p class="card-text text-center ensure  ">Come.. Ensure your Space!</p>
                      </div>
                      <button class="btn btn-primary btn-select">SELECT</button>
                    </div>
                  </div>


                  <div class="col">
                    <div class="card h-100">
                      
                      <div class="card-body cs">
                        <h3 class="card-title text-center titles">KANOOR</h3>
                        <p class="card-text text-center ensure ">Come.. Ensure your Space!</p>
                      </div>
                      <button class="btn btn-primary btn-select">SELECT</button>
                    </div>
                  </div>

                  <div class="col">
                    <div class="card h-100">
                      
                      <div class="card-body cs">
                        <h3 class="card-title text-center titles">TRISSUR</h3>
                        <p class="card-text text-center ensure ">Come.. Ensure your Space!</p>
                      </div>
                      <button class="btn btn-primary btn-select">SELECT</button>
                    </div>
                  </div>


                  <div class="col">
                    <div class="card h-100">
                      
                      <div class="card-body cs">
                        <h3 class="card-title text-center titles">KOTTAYAM</h3>
                        <p class="card-text text-center ensure ">Come.. Ensure your Space!</p>
                      </div>
                      <button class="btn btn-primary btn-select">SELECT</button>
                    </div>
                  </div>


                  <div class="col">
                    <div class="card h-100">
                      
                      <div class="card-body cs">
                        <h3 class="card-title text-center titles">AHAMMADABAD</h3>
                        <p class="card-text text-center ensure ">Come.. Ensure your Space!</p>
                      </div>
                      <button class="btn btn-primary btn-select">SELECT</button>
                    </div>
                  </div>


                  <div class="col">
                    <div class="card h-100">
                      
                      <div class="card-body cs">
                        <h3 class="card-title text-center titles">MYSORE</h3>
                        <p class="card-text text-center ensure ">Come.. Ensure your Space!</p>
                      
                      <div class="text-center">
                      <a href="{% url 'core:time' %}">
                      <button class="btn btn-primary btn-select">SELECT</button></a>
                    </div>
                    </div>
                    </div>
                  </div>



                  <div class="col">
                    <div class="card h-100">
                      
                      <div class="card-body cs">
                        <h3 class="card-title text-center titles">KOLLAM</h3>
                        <p class="card-text text-center ensure  ">Come.. Ensure your Space!</p>
                      </div>
                      <button class="btn btn-primary btn-select">SELECT</button>
                    </div>
                  </div>

              </div>
            </div>
        </div>       
    </div>
</div>

</body><br>
{% endblock content %}