{% extends 'base.html' %}
{% block content %}
<body  class="bg-location">
<section>
    <div class="container">
        <div class="row">
            <h2 class="text-center title-time">Select your Time</h2>
            <hr>
            <div class="col">
                <div class="d-flex justify-content-around">

                
                <a href="{% url 'core:booking' %}"><button type="button" class="btn  btn-time"><b>08:00 Am - 09:00 Am</b></button></a>
                <a href="{% url 'core:booking' %}"><button type="button" class="btn  btn-time"><b>09:00 Am - 10:00 Am</b></button></a>
                <a href="{% url 'core:booking' %}"><button type="button" class="btn  btn-time"><b>11:00 Am - 12:00 Pm</b></button></a>
                <a href="{% url 'core:booking' %}"><button type="button" class="btn  btn-time"><b>12:00 Pm - 01:00 Pm</b></button></a>
                </div><br><br>

                <div class="d-flex justify-content-around">
                <a href="{% url 'core:booking' %}"><button type="button" class="btn  btn-time"><b>01:00 Pm - 02:00 Pm</b></button></a>
                <a href="{% url 'core:booking' %}"><button type="button" class="btn  btn-time"><b>02:00 Pm - 03:00 Pm</b></button></a>
                <a href="{% url 'core:booking' %}"><button type="button" class="btn  btn-time"><b>03:00 Pm - 04:00 Pm</b></button></a>
                <a href="{% url 'core:booking' %}"><button type="button" class="btn  btn-time"><b>04:00 Pm - 05:00 Pm</b></button></a>
                </div><br><br>

                <div class="d-flex justify-content-around">
                    <a href="{% url 'core:booking' %}"><button type="button" class="btn  btn-time"><b>05:00 Pm - 06:00 Pm</b></button></a>
                    <a href="{% url 'core:booking' %}"><button type="button" class="btn  btn-time"><b>06:00 Pm - 07:00 Pm</b></button></a>
                    <a href="{% url 'core:booking' %}"><button type="button" class="btn  btn-time"><b>07:00 Pm - 08:00 Pm</b></button></a>
                    <a href="{% url 'core:booking' %}"><button type="button" class="btn  btn-time"><b>08:00 Pm - 09:00 Pm</b></button></a>
                </div><br><br>

                <div class="d-flex justify-content-around">
                    <a href="{% url 'core:booking' %}"><button type="button" class="btn  btn-time"><b>09:00 Pm - 10:00 Pm</b></button></a>
                    <a href="{% url 'core:booking' %}"><button type="button" class="btn  btn-time"><b>10:00 Pm - 11:00 Pm</b></button></a>
                    <a href="{% url 'core:booking' %}"><button type="button" class="btn  btn-time"><b>11:00 Pm - 12:00 Am</b></button></a>
                    <a href="{% url 'core:booking' %}"><button type="button" class="btn  btn-time"><b>12:00 Pm - 01:00 Am</b></button></a>
                </div><br><br><br><br>

                      
</section>
</body><br>
{% endblock content %}