/*--------------------------- navbar ----------------------------------------------------*/


.bg-color{
    background-color: rgb(92, 92, 161);
    
}

.color{
    color: azure;
    font-size: large;
}

.titlecolor{
    color: rgb(230, 253, 124);
}

.titlecolor:hover{
    color: rgb(230, 253, 124);
    cursor: default;
}






/* -------------------button book tickets----------------- */
.btns{
    
    text-decoration: none;
    padding: 1px;
    background-color: rgba(56, 0, 0, 0.87);
    border-radius: 2px;
    margin-left : 35%;
    margin-right : 30%;
    cursor: default;
    color: azure;
    align-items: center;
    
}
    
.btns:hover{
    color:rgb(230, 170, 122)
}

.font{
    color: rgb(254, 255, 255);
    font-size: 50px;
    text-decoration:solid;
  

}

/* -------------------------------home page------------------------------------------------ */

/* home page title */

.bg-home{
    background-image: url(img_home.jpg);
    background-size:cover;
     
 }

.space4u{
    font-size: 50px;
    color: rgb(0, 30, 87);
    
}




/* recommonded places */

.recomnd{
    font-size: 30px;
    text-decoration: underline;
    color: darkblue;
}
 
.cardtitle{
    font-size: 20px;
   
}

/* cardhome */

.bg-cardhome{
    background-image: url(img24.jpg);
    background-size: cover;
}


/* hero section start */
.hero-section{
    height: calc(100vh - 56px);
}
/* hero section end */


/* scrolling */
.overflow-x-scroll{
    overflow: hidden;
    overflow-x: scroll;
}

/* ------------------------------------------ location ----------------------------------------------*/

/* background colour */
.bg-location{
    background-image: url(img_blue.jpg);
    background-size: cover;
}

.location{
    font-size: 30px;
   
    color: rgb(253, 254, 255);
}

.cities{
    color: rgb(253, 225, 131);
   
}
.ensure{
    font-family: 'Poor Story', cursive;
    font-size: 20px;
    color: rgb(61, 61, 61);
}

.titles{
    font-family: 'Poor Story', cursive;

    font-family: 'Roboto Slab', serif;

    color: rgb(5, 51, 119);

    
}

.btn-select{
    color: rgb(255, 255, 255);
    background-color: rgba(2, 102, 253, 0.822);
   
}



.cs{
    background-image: url(img_white.jpg);
    background-size: cover;
    
}

.bg-destination{
    background-image: url(img_card3.jpg);
   ;
}

.underline{
    text-decoration: none;
}


.destination{
    color: rgb(14, 13, 13);
}

.text{
    color: rgba(0, 1, 68, 0.788);
}

.bg-des{
    background-image: url(img77.jpg);
    background-size: cover;
}
/* -----------------------------about--------------------------------------------------------------- */

.bg-about{
    background-image: url(img23.jpg);
    background-size: cover;
}


.about{
    color: rgba(32, 22, 22, 0.822);
    justify-content: center;
    font-size: 18px;
    
}

/*------------------------------------------------- time------------------------------------------------- */

.bg-time{
    background-image: url(img_time.jpg);
    background-size: cover;
}

.btn-time{
    background-color: rgb(238, 251, 253);
    color: green;
    font-size: 19px;
    

}

.btn-time:hover{
    background-color: rgb(133, 51, 51);

}
.title-time{
    color: rgb(232, 255, 255);
}

.bg-day{
    background-image: url(img_clk.jpg);
    
}
.day{
    color: white;
}
.card-col{
    background-image: url(img_white.jpg);
}

.bg-day{
    background-image: url(img_day.jpg);
    background-size: cover;
}

.size{
    font-size: 35px;
}
/*---------------------------------------------- slot ----------------------------------------------*/
.slot{
    font-size: 26px;
}

.bg-booking{
    
   background-image: url(img_booking.jpg);
   background-size: cover;
}

.bg-slot{
   background-image: url(img_slot.jpg);
   background-size:cover;
    
}

/* ------------footer-------------------------*/

.footer{
    background-color: rgba(92, 92, 161, 0.603);
    color: aliceblue;

}

/* -----------------------------feedback-------------------------------------------------------------- */

.bg-feedcard{
    background-image: url(img_name.png);
    background-size:cover;
    
}

.bg-feedname{
    background-color: rgb(46, 72, 105);
    color: aliceblue;

}

.bg-feedback{
    background-image:url(img_feedback.jpg)
}

.bg-feedcreate{
    background-image: url(img26.jpg);
    background-size: cover;
}

.bg-feedcardbox{
    background-image: url(img25.jpg);
    background-size: cover;
}


/*----------------------------------------------profile----------------------------------------------- */

.bg-profile{
    background-image: url(img33.jpg);
    background-size: cover;
}

.bg-profiles{
    background-color: rgb(69, 69, 124);
    
}

.bg-profilecard{
    background-image: url(img32.jpg);
    background-size: cover;
}

/*-------------- payment---------------- */

.bg-payment{
    background-image: url(img_payment.jpg);
    background-size: cover;
}

/*--------- login---------------- */


.bg-login{
    background-image: url(img40.jpg);
    background-size: cover;
}

.padding{
    padding: 3px;
    margin: 1px;
}

.bg-pro{
    background-image: url(img_profile.jpg);
    background-size: cover;
}

/* ---------------profile---------------------------- */

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #fbc2eb;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(194, 238, 251), rgba(166, 193, 238, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(122, 144, 156), rgba(166, 193, 238, 1))
    }