{% extends 'base.html' %} {% block content %}
<section class="bookingdetails" style="min-height:100vh;">
    <div class="container py-5">
        <div class="row">
          <div class="col-lg-6">
            <h1> Delete booking</h1>
          </div>
          <div class="col-lg-6">
            <div class="card">
              <div class="card-body">
                <form action="" method="post">
                  {% csrf_token %}
                  <h5>Are you sure want to delete?</h5>
                  <button class="btn btn-danger" type="submit">Delete</button>
                  <a href="{% url 'core:booking_list' %}" class="btn btn-primary">Cancel</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>


{% endblock content %}
